<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Document</title>
    <style>
      body{
        
        margin: 5rem;
        padding:2rem;
        
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body onload="window.print()" style="font-family: 'Times New Roman', Times, serif;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
              </td>
            <td align="left" bgcolor="#ffe77b" style="background-color: #fff;">
              <center><h2 style="font-weight: 900;color: brown;">Khandan Maligai</h2></center>
              <p> <br/> 
                </p>
            </td>
        </tr>
    </table> 
    <h1 style="font-size: 30px;font-weight: 600; color: green; margin-top: 10px;">INVOICE</h1>
    <h4><%=invoice.invoiceno%></h4> 
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td width="30%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
            <p>Invoice To:</p>
            <h3 style="font-weight: 800;color: brown;"><%=invoice.fname%></h3>
          </td>
          <td width="70%" align="left" bgcolor="#ffe77b" style="background-color: #fff;">             
          </td>
      </tr>
      <tr>
        <td width="30%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
          <p>Social Media Manager</p>
          <p>Bolen Tex .Inc</p>
        </td>
        <td width="70%" align="left" bgcolor="#ffe77b" style="background-color: #fff;">             
        </td>
      </tr>
  </table>  
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="30%" align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
            <p>+152 5248 523</p>
            <p><%=invoice.fname%>@gmail.com</p>
          </td>
          <td width="40%" align="left" bgcolor="#ffe77b" style="background-color: #fff;">             
          </td>
          <td width="30%" align="right" bgcolor="#ffe77b" style="background-color: #fff;">
            <h4 style="font-weight: 700;color: #000000;"><%=invoice.invoicedate%></h4> 
            <h4 style="font-weight: 700;color: #000000;"><%=invoice.invoiceno%></h4>            
          </td>
        </tr>
      </table>   
      <table class="table" width="95%">
          <thead>
            <tr>
              <th scope="col">Cusname</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <!-- <th scope="col"></th> -->
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <!-- {{#each products.prodlist}} -->
            
            <tr >
             
              <th scope="row" width="50%">
                <h5 style="font-weight: 700;color:chocolate"><%=invoice.fname%></h5>
          
              </th>
              
              <td width="10%"><%=invoice.product_name[0]%></td>
              <td width="10%"><%=invoice.price[0]%></td>
              <td width="10%"><%=invoice.quantity[0]%></td>
              <td width="10%"><%=invoice.total[0]%></td>
            </tr>
            <tr >
             
              <th scope="row" width="50%">
                
               
              </th>
              <td width="10%"><%=invoice.product_name[1]%></td>
              <td width="10%"><%=invoice.price[1]%></td>
              <td width="10%"><%=invoice.quantity[1]%></td>
              <td width="10%"><%=invoice.total[1]%></td>
            </tr>
            <th scope="row" width="50%">
              
               
            </th>
            <td width="10%"><%=invoice.product_name[2]%></td>
            <td width="10%"><%=invoice.price[2]%></td>
            <td width="10%"><%=invoice.quantity[2]%></td>
            <td width="10%"><%=invoice.total[2]%></td>
          </tr>
          </tbody>
          

         
        </table>
        <b><p>Thank for your contribution sir </p>  </b>
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="90%"  align="right" style="font-size: 25px;font-weight: 700;color:darkred; background-color: #f6f6f6;">Grand Total</td>
            <td width="10%" align="right" style="background-color: lightgreen;"><h2 style="font-size: 25px;font-weight: 700;color:#fff;"><%=invoice.total %></h2></td>
          </tr>
         
        </table>
</body>
</html>