<%- include("./partials/head.ejs") %>
<style>
  .cpi {
    width: 80px;
    height: 100px;
  }
  table.alignmiddle td {
    vertical-align: middle !important;
  }
  #pname {
    width: 200px;
  }
  .pp {
    position: absolute;
    left: -3000px;
  }
</style>
<body>
  <%- include('./partials/nav.ejs')%> <%if(typeof cart!=="undefined"){%>
  <center><h2 class="page-title">My Cart</h2></center>
  <div class="container">
    <%- include('./partials/messages.ejs')%>
    <table class="table table-stripped alignmiddle">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
      </tr>
      <% var totalamount=0; %>
      <br />
      <%cart.forEach(function(i){%>
      <br />
      <%var sub=parseFloat(i.qty*i.price).toFixed(2)%> <% totalamount+= +sub %>
      <tr>
        <td>
          <img class="cpi" src="<%=i.image%>" alt="" />
        </td>
        <td id="pname"><%= i.title %></td>
        <td><%= i.price %></td>
        <td><%= i.qty %></td>
        <td>
          <a href="/cart/update/<%=i.title%>?action=add"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-bag-plus-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"
              /></svg></a
          >&nbsp;
          <a href="/cart/update/<%=i.title%>?action=remove"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-dash-lg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
              /></svg></a
          >&nbsp;
          <a href="/cart/update/<%=i.title%>?action=clear"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
              />
            </svg> </a
          >&nbsp;
        </td>
        <td><%= subtotal %></td>
      </tr>

      <% });%>
      <tr>
        <td colspan="6" align="right">
          <b>Total:</b> <%= parseFloat(totalamount).toFixed(2) %>
        </td>
      </tr>
      <tr>
        <!-- <td colspan="4" align="right">
          <a href="/cart/confirm" class="btn btn-success"> Add to my cart</a>
        </td> -->
        <td>
          <a class="clearcart btn btn-danger" href="/cart/clear"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
              /></svg
            >Clear cart</a
          >
        </td>
        <td align="right">
          <h6>online payment</h6>
          <a class="btn btn-primary buynow" href="#">buy Now</a>
        </td>
      </tr>
    </table>
  </div>

  <form
    class="pp"
    action="https://www.sandbox.paypal.com/cgi-bin/webscr"
    method="post"
  >
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input
      type="hidden"
      name="business"
      value="jultranet-facilitator@gmail.com"
    />
    <% var num=0; %> <%cart.forEach(function(p){%> <% num++%>
    <input type="hidden" name="item_name_<%= num %>" value="<%=p.title%>" />
    <input type="hidden" name="amount_<%= num%>" value="<%=p.price%>" />
    <input type="hidden" name="quantity_<%= num%>" value="<%=p.qty%>" />
    <%}); %>
    <input type="hidden" name="currency_code" value="USD" />
    <input type="hidden" name="amount" value="<%=totalamount%>" />
    <input
      type="image"
      src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif"
      name="submit"
      alt="Make payments with PayPal - it's fast, free and secure!"
    />
  </form>

  <%} else{%>
  <center><h3>Your cart is empty!</h3></center>
  <%}%> <%- include("./partials/footer.ejs") %>

  <script>
    $(function () {
      $("a.clearcart").on("click", function () {
        if (!confirm("Confirm deletion")) return false;
      });

      $("a.buynow").on("click", function (e) {
        e.preventDefault();
        $.get("/cart/buynow", function () {
          $("form.pp input[type=image]").click();
          $(".ajaxbg").show();
        });
      });
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
